# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Simulink Code Generation
slprj/

# Session info
octave-workspace

# Ignore DS_Store
.DS_Store

# ignore images folder in project folder
project/Images/*
project/test/*

# ignore pickle files
*.p

# temporary files for assignments
factor.jpg
gauss.jpg
nearest.jpg
mean.jpg
funfilter.jpg
imageMosaic.m
temp1.pgm
temp2.pgm