<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://v4.pingendo.com/assets/bootstrap/themes/default.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="static/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link href="static/lib/image-picker/image-picker/image-picker.min.js" rel="stylesheet" type="text/css">
  <link href="static/css/style.css" rel="stylesheet" type="text/css">
</head>

<body ng-cloak ng-app="recognitionApp">
  <div class="section" ng-controller="mainController as mCtrl">
    <div class="container" style="background:lightgray">

      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4 p-y-1 text-primary text-xs-center">Scene Recognition</h1>
        </div>
      </div>

      <div class="row">
        <div>
            <h4 class="text-xs-center"> Welcome to scene recognition project! </h4>
        </div>
      </div>

      <br/>
      <div class="row">
        <div class="col-md-12">
            <p>Select an Image</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
         <!--  <select class="image-picker show-html">
            <option data-img-src="static/images/bed.jpg" data-img-class="first" data-img-alt="Page 1" value="1">  Page 1  </option>
            <option data-img-src="static/images/bed.jpg" data-img-alt="Page 2" value="2">  Page 2  </option>
            <option data-img-src="static/images/bed.jpg" data-img-alt="Page 3" value="3">  Page 3  </option>
            <option data-img-src="static/images/bed.jpg" data-img-alt="Page 4" value="4">  Page 4  </option>
            <option data-img-src="static/images/bed.jpg" data-img-alt="Page 5" value="5">  Page 5  </option>
            <option data-img-src="static/images/bed.jpg" data-img-alt="Page 6" value="6">  Page 6  </option>
          </select> -->
          <!-- <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/> -->
          <div class="row">
            {% verbatim %} 
            <div ng-repeat="image in mCtrl.images track by $index">
            <div class="col-md-2">
              <div ng-click="mCtrl.selectImage(image)" ng-class="{'selected-image': (mCtrl.selected_image === image)}">
                <img ng-src="static/images/{{image}}" alt="{{image}}" width="150" height="100"/>
              </div>
              <br/>
            </div>
            </div>
            {% endverbatim %}
          </div>

          </div>
        </div>

      <div class="row">
        <div class="col-md-4">
          <label>Upload:</label>
          <input class="form-control" ngf-select="mCtrl.upload($file)" type="file">
          <!-- <div class="button" ngf-select="upload($file)">Upload on file select</div> -->
        </div>
      <div>

      <br/>
      <div class="row">
        <div class="col-md-12">
            <div class="col-md-1 text-xs-right">
                <label class="form-control">URL:</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" type="text" placeholder="http://" ng-model="data.url">
                <div>
                    <label class="radio-inline"><input type="radio" value="1" name="mchoice" ng-model="data.choice"> Bag Of Words </input></label>
                    <label class="radio-inline"><input type="radio" value="2" name="mchoice" ng-model="data.choice"> Bag Of Words with GMM </input></label>
                    <label class="radio-inline"><input type="radio" value="3" name="mchoice" ng-model="data.choice"> Convolutional Neural Network </input></label>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn-primary form-control" ng-click="mCtrl.submit(data)">Submit</button>
            </div>
        </div>
      </div>

      <div class="row">
        {% verbatim %}
        <div class="col-md-12">
              <h3>Results:</h3>
              <h4>
                {{mCtrl.message}}
              </h4>
              <br/>
              <img ng-src="static/images/{{mCtrl.resImg}}" alt="result" ng-show="mCtrl.response" />
        </div>
        {% endverbatim %}
      </div>
    </div>
  </div>
  <script type="text/javascript" src="static/lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/lib/angular/angular.min.js"></script>
  <script type="text/javascript" src="static/lib/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="static/lib/angular-resource/angular-resource.min.js"></script>
  <script type="text/javascript" src="static/lib/image-picker/image-picker/image-picker.min.js"></script>
  <script type="text/javascript" src="static/lib/ng-file-upload/ng-file-upload.min.js"></script>
  <script type="text/javascript" src="static/lib/ng-file-upload-shim/ng-file-upload-shim.min.js"></script>
  <script type="text/javascript" src="static/js/mainController.js"></script>
</body>

</html>