<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://v4.pingendo.com/assets/bootstrap/themes/default.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="static/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body ng-cloak ng-app="recognitionApp">
  <div class="section" ng-controller="mainController as mCtrl">
    <div class="container" style="background:lightgray">

      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4 p-y-1 text-primary text-xs-center">Scene Recognition</h1>
        </div>
      </div>

      <div class="row">
        <div>
            <h4 class="text-xs-center"> Welcome to scene recognition project! </h4>
        </div>
      </div>

      <br/>
      <div class="row">
        <div class="col-md-12">
            <p>Select an Image</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
          <img src="static/images/bed.jpg" alt="bed_img" width="150" height="100"/>
        </div>
      </div>

      <br/>
      <div class="row">
        <div class="col-md-12">
            <div class="col-md-1 text-xs-right">
                <label class="form-control">URL:</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" type="text" placeholder="http://">
            </div>
            <div class="col-md-2">
                <button class="btn-primary form-control" ng-click="mCtrl.submit()">Submit</button>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
            <h3>Results:</h3>
            <p> Hello Sunil {{ mCtrl.message }}</p>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="static/lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/lib/angular/angular.min.js"></script>
  <script type="text/javascript" src="static/lib/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="static/lib/angular-resource/angular-resource.min.js"></script>
  <script type="text/javascript" src="static/js/mainController.js"></script>
</body>

</html>